body {
    background-color: rgb(206, 249, 255);
}

header {

    h1 {
        font-size: 30px;
        padding: 20px;
        text-align: center;
    }

}

.box {
    text-align: center;

    h2 {
        color: red;
        font-size: 30px;
        margin: 30px;
    }

    p {
        margin-bottom: 50px;
    }

    a {
        font-size: 25px;
    }

}