<header>
    <h1>シンプルメモ</h1>
    <p>ようこそ、<%= locals.username %>さん</p>
    <a href="/logout">ログアウト</a>
    <a href="/"><h2 class="top">Top画面へ</h2></a>
    <a href="/new"><h2 class="post">投稿画面</h2></a>
</header>
