<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/new.css">
    <title>新規投稿</title>
</head>
<body>
    <header>
        <h2>新規投稿</h2>
        <a href="/index">戻る</a>
    </header>
    <main>
        <div class="text-box">
            <form action="/createItem" method="post">
                <p>タイトル</p><input class="title" type="text" name="itemTitle">
                <p>テキスト</p><textarea class="text" type="text" name="itemText"></textarea>
                <br><input type="submit" value="作成する">
            </form>
        </div>
    </main>
</body>
</html>