<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/top.css">
    <title>Top</title>
</head>
<body>
    <header>
        <h1 class="top">シンプルメモ</h1>
    </header>
    <main>
        <div class="box">
            <h2>warning！</h2>
            <p>※初めてのWEBアプリケーションです。バグが発生する可能性があるかもしれません。</p>
            <a href="/login">ログイン</a>
            <a href="/signup">新規登録</a>
            <a href="/index">投稿画面へ</a>
        </div>
    </main>  
</body>
</html>